h1 {
  background-color: seagreen;
  padding: 10px;
  margin: 0;
}

nav {
  background-color: rgb(101, 181, 135);
  margin-bottom: 10px;
}

h1,
a {
  color: white;
}

nav a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
}
nav a:hover {
  background-color: rgb(113, 195, 148);
}

article {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: rgb(212, 212, 212);
  border-radius: 4px;
}

article:hover {
  background-color: rgb(221, 218, 214);
}

article + article {
  margin-top: 10px;
}

article .content {
  display: flex;
}
